<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-portfolio-yjslt" >
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_education.domaine" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_education.date_start" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_education.date_end" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_education.degree" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_education.place" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_education.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_education.description" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>