<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
	<style media="screen">
		img
		{
			width: 100%;
		}
	</style>
	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">Détail du projet "{project.title}"</h1>
			<f:image image="{project.photo}" />
			<h3 class="mt-5">Description : </h3>
			<p>
				<f:format.html>{project.description}</f:format.html>
			</p>
			<div class="panel panel-danger">
				<div class="panel-heading">Compétences</div>
				<div class="panel-body">

					<f:for each="{project.skills}" as="skill">
						<button class="button btn-primary">
							{skill.tile}
						</button>
					</f:for>

					</ul>
				</div>
			</div>
		</div>
	</div>





	<f:flashMessages />
	<f:render partial="Project/Properties" arguments="{project:project}" />
	<f:link.action action="list">Retour projets</f:link.action><br />
	<f:link.action action="new">Nouveaux projets</f:link.action>
</f:section>
</html>
