<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Liste des profils</h1>

		<f:flashMessages />

		<row class="tx_portfolioyjslt">
			<f:for each="{profiles}" as="profile">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<f:image image="{profile.photo}" treatIdAsReference="1" width="600px"/>
						<div class="caption">
						<h3><f:link.action action="show" arguments="{profile : profile}">{profile.firstName} {profile.lastName}</f:link.action></h3>
						<p>
							tel : {profile.tel} <br>
							mail : {profile.mail}
						</p>
						</div>
					</div>
				</div>
			</f:for>
		</row>


		<!--<f:link.action action="new">New Profile</f:link.action>-->
	</f:section>
</html>
