<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-portfolio-yjslt" >
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_profile.last_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_profile.first_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_profile.birth_date" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_profile.driving_licence" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_profile.tel" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_profile.mail" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_profile.address" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_profile.photo" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>