<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-portfolio-yjslt" >
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_project.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_project.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_project.photo" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_project.url" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_project.date_start" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_portfolioyjslt_domain_model_project.date_end" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>